@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.FastTrack.Ui
@using Merchello.Web

@{
	Layout = "Master.cshtml";
	if (CurrentCustomer.Basket().IsEmpty)
	{
		Response.Redirect(ExampleUiHelper.Content.GetStoreRoot().Url);
	}
}

<div class="hk_order hk_checkout">
    
	@RenderBody() @* deze laadt vervolgens weer ftCheckout.cshtml in als Layout = 
    @RenderSection("Breadcrumbs")*@
</div>


@section Breadcrumbs {

    @{
       
            <div class="hk_breadcrumb">
                <div class="">
                    <div class="row">
                        <div class="col-xl-12">
                            <ol class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li><a href="/shopping-cart/" class="">Shopping cart</a></li>
                                <li>
                                    <a href="/complete-order/" class="hk_link_complete-order">Complete order</a>
                                   @* <a href="@CurrentPage.Url" class="hk_link_@CurrentPage.Name">@CurrentPage.Name </a> *@
                                </li>
                            </ol>
                    </div>
                </div>
            </div>
        </div>  
        
                                
        
    }


}