@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "ftCheckout.cshtml";
}
<div class="row">

    <div class="col-md-6" data-muitarget="checkoutaddresses">
        @RenderBody()
    </div>

    <div class="col-md-6">
        @Html.Action("BasketSummary", "CheckoutSummary", new { area = "FastTrack" })
    </div>
    <div class="col-sm-6 col-md-6">
			<p><a data-udi="umb://document/38f05829bc8f4e7091a077d9a4f9c0b4" href="/terms-and-conditions/" title="Terms of condition">terms and conditions</a></p>
			<p><a data-udi="umb://document/a49e82184e2643d1b87ccea10e5e9183" href="/privacy-statement/" title="Privacy statement">privacy statement</a></p>
    </div>

</div>
