@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePagina>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{	Layout = "Master.cshtml";

}

<div class="container-fluid hk_collections hk_catalog hk_homepage">

    <div class="row">
        <!-- Grid -->
        @Html.GetGridHtml(Model.Content, "grid")
        <!-- /Grid -->
    </div>
</div>


@section Scripts {

        <script src="https://sachinchoolur.github.io/lightslider/src/js/lightslider.js"></script>
        <script>
				        $(document).ready(function () {
					        $(".hk_media_display_list_double").lightSlider({
						        adaptiveHeight: false,
						        autoWidth: true,
						        item: 2,
						        slideMargin: 0,
						        //slideMargin: 0,
						        loop: true
					        });
				        });

				        $('.hk_media_display_list').each(function (i, e) {
					        var id = 'adaptive';
					        $(e).attr('id', id + i);
					        var selector = '#' + id + i;
					        $(selector).lightSlider({
						        adaptiveHeight: false,
						        item: 1,
						        slideMargin: 0,
						        loop: true,
						        pager: false
					        });
				        });

        </script>


    <link rel="stylesheet" href="/scripts/css/image-map-pro.min.css">
<script type="text/javascript" src="/scripts/js/image-map-pro.js"></script>
@*<script type="text/javascript" src="/scripts/js/jquery.pulsate.js"></script>
    <script>
        $(function () {
            $(".imp-shape-spot img").pulsate();
         $("").pulsate({ glow: false });
         $(".pulse2").pulsate({color:"#09f"});
         $(".pulse3").pulsate({reach:100});
         $(".pulse4").pulsate({speed:2500});
         $(".pulse5").pulsate({pause:1000});
         $(".imp-shape-spot img").pulsate({ onHover: true });
        });
    </script> *@
    <script>
				    
          /*  $('.imp-tooltip').click(function () {
                $('.imp-tooltip').removeClass('imp-tooltip-visible');
            });

            */

        /*   $(window).load(function () {

                $('imp-tooltip').click(function () {
                    if ($(this).hasClass('imp-tooltip-visible')) {

                        $(this).removeClass('imp-tooltip-visible');
                    }
                    else {
                        $('li a.current').removeClass('current');
                        $(this).addClass('current');
                    
                });

            });

}*/
    

    </script>

}