@inherits UmbracoViewPage<ETC.B2B.WEB.Models.Member.MemberActivationModel>
@*
    This view renders the mail, when a new user is created through the etc-import
    Best practice to test is use the ResetEmailTemplate, and reset your password, then copy the layout to this view.
*@

@{
    Layout = "EmailTemplateMaster.cshtml";

    string hostname = System.Web.HttpContext.Current.Request.Url.Scheme + "://" + System.Web.HttpContext.Current.Request.Url.Authority;

}
<table cellspacing="0" cellpadding="0" width="600" class="w320">
    <tr>
        <td class="header-lg">
            Hello @Model.Member.Name,<br />
        </td>
    </tr>
    <tr>
        <td class="free-text">
            A web account is created for you. <br />You can activate your account by setting your password through the following link:

            @*
                reset-password is the umbraco node where the reset password action link is called, of course you can change this to the desired page
            *@
            <br />
            <br />
            <a class="" href="@(hostname)/reset-password/@Model.ActivationLink" style="color: #444;">[ Activate account ]</a><br />
            <br />
        </td>
    </tr>
    <tr>
        <td class="free-text">
            Best regards,<br />
            HKliving
        </td>
    </tr>
</table>